<h3><b>Tags: </b></h3>
<!-- display tags if exist -->
<% if !@restroom.tags.empty? %>
    <% @restroom.tags.each do |tag| %>
        <%= link_to tag.description, tag_path(tag) %><br>
    <% end %>
    <% if logged_in? %><h4>Add more tags:</h4><% end %>
    
<% else %>
    <%= no_tags %>
<% end %>