<h1>where2p near you</h1>
<%= render 'restrooms/list_restrooms', restrooms: @restrooms %>
<br>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'restrooms/add_restroom_btn' %>
<%= render 'layouts/right_nav_links' %>