<h1>Add a new restroom</h1>
<!-- new restroom form -->
<%= render partial: 'form', locals: {restroom: @restroom, submit_text: "Add restroom"} %>
<!-- main nav -->
<%= render 'layouts/close_main_open_nav' %>
<%= render 'layouts/right_nav_links' %>