<h1>Update <%= current_user == @user ? "your" : "#{@user.name}'s'" %> profile</h1>
<%= render partial: 'form', locals: {user: @user, submit_text: "Update Profile"} %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'layouts/right_nav_links' %>