<h1>where2p</h1>
<h2>where to go when you need to go.</h2>
<p><%= link_to "Find a restroom near you", restrooms_path, class: 'btn ghost-cta' %></p>
<img src="http://itspronouncedmetrosexual.com/wp-content/uploads/2014/04/Gender-Neutral-Toilet-Sign-White-2000.png" width="300px">