<h1>Find restrooms by tag</h1>
<% @tags.each do |tag| %>
    <p><strong><%= link_to tag.description, tag_path(tag) %></strong></p>
<% end %>

<%= render 'layouts/close_main_open_nav' %>

<%= render 'restrooms/add_restroom_btn' %>
<%= render 'layouts/right_nav_links' %>