<h1>Find restrooms by neighborhood</h1>
<!-- add neighborhood form -->
<%= render partial: 'neighborhoods/add_neighborhood', neighborhood: @neighborhood %>
<!-- list neighborhoods -->
<%= render partial: 'neighborhoods/list_neighborhoods', locals: {neighborhoods: @neighborhoods} %>

<%= render 'layouts/add_restroom_nav' %>