<h1>Find restrooms by neighborhood</h1>
<% @neighborhoods.each do |n| %>
    <p><%= link_to n.name, neighborhood_path(n) %></p>
<% end %>
<% if current_user.admin? %>
    <h3>Add a new neighborhood</h3>
    <%= form_for @neighborhood do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <%= f.submit 'Add neighborhood', class: 'btn cta' %>
    <% end %>
<% end %>