// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.btn.cta {
    color: #fff;
    background-color: #222;
    margin: 15px 0;
    cursor: pointer;
}

.btn.ghost-cta {
    color: #222;
    background-color: #fff;
    border: 2px solid #222;
    margin: 15px 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #4286f5;
    color: #fff;
}

.btn.google-login {
    background: url(http://iosicongallery.com/img/512/google-2015.png) left center no-repeat;
    background-size: 30px 30px;
    padding-left: 35px;
    box-shadow: 0 0 2px #777;
    color: #4286f5;
}

.btn.google-login:hover, .btn.google-login:active {
    box-shadow: 0 0 4px #4286f5;
}

a {
    color: #49ae95;
}

a:hover {
    color: #4286f5;
}

#flash_message {
    border: 2px dashed #4286f5;
    color: #4286f5;
    padding: 10px 20px;
}

.field_with_errors input, .field_with_errors select {
    border: 2px solid #d85454;
}

.checkbox_container {
    display: inline-block;
    padding-right: 10px;
}
.checkbox_container input {
    display: inline;
    margin-right: 5px;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;
}

/*------ FOOTER ------*/

.container {
    margin-bottom: 100px;
}

.foot-note {
    padding: 10px;
    box-sizing: border-box;
}

.foot-note a {
    color: #fff;
    margin: 0 auto;
}

footer {
    margin-top: 30px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
